#root {
	background-color: whitesmoke;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 1.5vmin);
	color: #282c34;
}

#wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	align-items: center;
}

#toggle-button {
	position: fixed;
	top: 0;
}

.audubon {
	background-image: url('/img/audubonvt.png');
	background-size: contain;
	background-position: center;
}

.vtfwd {
	background-image: url('/img/vtfwd.jpg');
	background-size: contain;
	background-position: center;
}

.display-item-container {
	background-color: rgb(136, 132, 132);
	border: 1px solid black;
	padding: 10px;
	padding-right: 15px;
}

.imageContainer {
	align-items: center;
	text-align: center;
}

.Header {
	width: 100%;
	height: 10%;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 4rem .5rem 2rem .5rem;
}

.headerImage2 {
	height: 40px;
	width: auto;
}

.navContainer {
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

.headerImages {
	height: auto;
	width: auto;
	margin: 1rem;
}

.title {
	text-align: center;
}

.modal-button {
	margin: 5px;
}

.link {
	color: white;
	padding-right: 20px;
}

.link:hover {
	color: orange
}

.brandImage {
	height: 30px;
	width: auto;
}

.container {
	padding-top: 2rem;
}

#login-status {
	font-size: 1.15em;
	margin-bottom: 5px;
}

#navbar-display-and-user {
	display: flex;
}